.feed-aluno{
    background-color: #f6f6f6;
    height: 100vh;

    & header{
        margin: 0;
        background-color: #0365AB;
    }
}
.content-header-uconnect{    
    background-color: #0365AB; 
    display: flex;
    align-items: center;    
    padding-left: 3rem;
    gap: 2rem;   
}

.nav-bar {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    
    & a{
        color: white;
    }
    
}