#title-club {
  color: #0067b1;
  font-size: 40px;
}

.container-cards-club {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 0 3rem 0;
  flex-wrap: wrap;
}

.card-club {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  width: 220px;
  height: 220px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

  & #club-icon {
    justify-self: center;
    width: 80px;
    height: 80px;
  }

  & #school {
    text-align: center;
    padding: 0.4rem;
    border-radius: 8px;
    background: #0067b1;
    color: #fff;
    font-size: 14px;
    color: color(display-p3 1 1 1);
  }

  & p {
    font-size: 12px;
    color: #3a3a3a;
    font-weight: 500;
  }
}

.club-info {
  display: flex;
  align-items: center;

  & p {
    font-size: 12px;
    color: #0067b1;
  }
}

#spiral {
  position: absolute;
  top: 280vh;
  bottom: 0;
  right: 0;
  left: 65%;
  width: 90px;
}
