@import '../styles/global.scss';

header{
    margin-top: 1rem;
    height: 42px;
    width: 100%;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-around;          

    & .logos{
        display: flex;
        gap: 0.6rem;
    }

    & .container-buttons{
        display: flex;
        gap: 1rem;
    }

    & #button-student{
        background-color: #B9B9B9;
        color: white;
    }

    & #button-teacher{
        background-color: #0365AB;
        color: white;
    }
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

