@import '../styles/global.scss';


.content-hero-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    grid-column: 1;


    & h1,p{ 
        color: $black-200;  
    }

    & h1{
        margin: 0;
        font-size: 44px;
    }

    & a{
        display: flex;
        align-items: center;
        width: fit-content;
        color: white;
        padding: 1rem;
        background-color: $blue-600;
        border-radius: 4px;
    }
}

.content-hero-right{
    padding: 1rem;
    position: relative;
    grid-column: 2;
}

